.search-results
  position: absolute
  top: 60px
  right: 15px
  z-index: 5000
  box-shadow: 0 4px 13px 0 rgba(0, 0, 0, 0.1)
  border-bottom-right-radius: .25rem
  border-bottom-left-radius: .25rem
  cursor: pointer
.search-result img
  height: 30px;

.logo
  width: 30px
